.advantages
  margin-top: -5px
  padding: 5rem 0 7.928rem 0
  background: $bg-body url('../img/advantages/bg-advantages.png') no-repeat center / cover
  &__box
    display: flex
    align-items: center
    justify-content: space-around
.advantage
  display: flex
  flex-direction: column
  align-items: center 