.advantages
  padding: 5rem 0 7.928rem 0
  &__container-bg
    position: relative
    margin: -5px auto 0 auto
    max-width: 1440px
    background: url('../img/advantages/bg-advantages.png') no-repeat center / cover
    &::before
      content: ''
      position: absolute
      top: 7.928rem 
      left: 0
      width: 100%
      height: 46%
      background-color: rgba($bg-body, 0.47)
  &__box
    display: flex
    align-items: center
    justify-content: space-around
.advantage
  z-index: 1
  display: flex
  flex-direction: column
  align-items: center
  flex-basis: 33%
  &__text
    font-weight: 800
    font-size: 1.39rem 
    text-align: center
    color: $primary
    margin: 5px auto
  &__icon
    &-1
      width: 137px
    &-3
      width: 103px