.advantages
  padding: 5rem 0 7.928rem 0
  &__container-bg
    margin: -5px auto 0 auto
    max-width: 1440px
    background: $bg-body url('../img/advantages/bg-advantages.png') no-repeat center / cover
  &__box
    display: flex
    align-items: center
    justify-content: space-around
.advantage
  display: flex
  flex-direction: column
  align-items: center
  &__text
    font-weight: 800
    font-size: 1.714rem 
    text-align: center
    max-width: 37rem
    color: $primary
    margin: 5px auto
  &__icon
    &-1
      width: 133px
    &-3
      width: 100px