.courses
  padding-top: 74px
  &-title
    text-align: center
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        width: 25.642rem
        height: 1px
        background-color: $light
        margin: 0 16px
    &__heading
      margin: 0
      font-family: 'Poiret One', cursive
      font-size: 5.142rem
      font-weight: 500
      color: $primary 
  &__box
    margin-top: 2.642rem  
    display: flex
    justify-content: space-between
  &__popular
    max-width: 19.357rem  
    display: flex
    flex-direction: column
    justify-content: space-between
  &__list
     max-width: 57rem   
.popular
  &__hit
    position: relative     
    &-badge
      position: absolute
      width: 56%
      background: rgba(197, 184, 115, 0.95)
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35)
      color: #FFFFFF
      font-family: 'Poiret One', cursive
      font-size: 3.428rem
      text-align: center
      top: -22px
      left: -21px
  &__action
    position: relative     
    &-badge
      position: absolute
      width: 56%
      background: rgba(158, 154, 129, 0.9)
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35)
      color: #FFFFFF
      font-family: 'Poiret One', cursive
      font-size: 3.428rem
      text-align: center
      top: -22px
      left: -21px